# Flask
FLASK_APP=app.py
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
MIDI_ROOT=/workspaces/KingMidis/midis

#Admin
# set to 0 then there is no way to access admin function at all
ADMIN_MODE=1
# if admin is enabled, then you can get the admin cookie by entering this password
ADMIN_PASSWORD=your-password 
# the secret key for admin session
SECRET_KEY=your-secret-key

# AI
OPENAI_API_KEY=sk-your-key
OPENAI_MODEL=gpt-5-nano
